{{ template "header.tmpl" }}
    <div class="md:container mx-auto">
        <h1 class="text-4xl font-bold">Results</h1>
        {{ range $position, $candidate := .candidates }}
            <h1 class="text-2xl font-bold mt-3">{{ $position }}</h1>
            {{ range $candidate }}
                <div class="bg-base-200 rounded-lg mt-2 flex items-center">
                    <img
                            src="/pfp?user={{ .CandidateID }}"
                            alt="{{ .Candidate }}"
                            class="w-16 h-16 rounded-full ml-5 my-5"
                    >
                    <div class="ml-5 my-5">
                        <h2 class="text-2xl font-bold">{{ .Candidate }}</h2>
                        <p class="text-lg">{{ .Votes }} Votes</p>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ template "footer.tmpl" . }}