{{ template "header.tmpl" }}
<div class="md:container md:mx-auto">
    <form action="/admin" method="post" enctype="application/x-www-form-urlencoded">
        {{ range .colorNames }}
            <label for="{{ . }}">{{ . }}</label>
            <input type="color" id="{{ . }}" name="colors[{{ . }}]" value="{{ index $.colors . }}">
            <br>
        {{ end }}
        <div id="position-container" class="flex flex-wrap gap-2">
            {{ range .positions }}
                <div class="badge badge-primary flex items-center gap-2">
                    <span class="position-label">{{.}}</span>
                    <input type="hidden" name="position[]" value="{{.}}">
                    <button type="button" class="remove-position-button">&times;</button>
                </div>
            {{ end }}
        </div>
        <div class="flex items-center gap-2">
            <input
                    type="text"
                    name="position"
                    id="position-input"
                    placeholder="Add a position"
                    class="input input-bordered w-full">
            <button type="button" id="add-position-button" class="btn btn-primary">Add</button>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    {{ .colors }}
</div>
<template id="position-template">
    <div class="badge badge-primary flex items-center gap-2">
        <span class="position-label">{{"{{"}}position{{"}}"}}</span>
        <input type="hidden" name="position[]" value="{{"{{"}}position{{"}}"}}">
        <button type="button" class="remove-position-button">&times;</button>
    </div>
</template>
<script>
    document.getElementById("add-position-button").addEventListener("click", () => {
        const input = document.getElementById("position-input");
        if (!input.value.trim()) {
            return;
        }

        const template = document.getElementById("position-template").innerHTML;
        const positionHTML = template.replace(/\{\{position\}\}/g, input.value.trim());

        document.getElementById("position-container").insertAdjacentHTML("beforeend", positionHTML);
        input.value = "";
    });

    document.getElementById("position-container").addEventListener("click", (e) => {
        if (e.target.classList.contains("remove-position-button")) {
            e.target.closest(".badge").remove();
        }
    });
</script>
{{ template "footer.tmpl" }}