{{ template "header.tmpl" }}
<div class="md:container md:mx-auto">
    <form action="/admin" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="text-3xl font-bold mt-3">Colors</h1>
        {{ range .colorNames }}
            <label for="{{ . }}">{{ . }}</label>
            <input type="color" id="{{ . }}" name="colors[{{ . }}]" value="{{ index $.colors . }}">
            <br>
        {{ end }}
        <h1 class="text-3xl font-bold mb-2 mt-3">Positions</h1>
        <div class="flex flex-wrap gap-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Required Group Name</th>
                    </tr>
                </thead>
                <tbody id="position-container">
                    {{ range $key, $value := .positions }}
                        <tr>
                            <td>
                                {{ $key }}
                                <input type="hidden" name="position[]" value="{{$key}}">
                            </td>
                            <td>
                                <input type="text" name="requiredgroup[]" value="{{ $value }}" class="input input-bordered w-full" placeholder="Required Group (optional)">
                            </td>
                            <td>
                                <button type="button" class="remove-position-button">&times;</button>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <div class="flex items-center gap-2 mt-2 mb-4">
            <input
                    type="text"
                    name="position"
                    id="position-input"
                    placeholder="Add a position"
                    class="input input-bordered w-full">
            <button type="button" id="add-position-button" class="btn btn-primary">Add</button>
        </div>
        <h1 class="text-3xl font-bold mb-2 mt-3">Maximum number of votes: </h1>
        <input type="number" name="maxvotes" value="{{.maxvotes}}" class="input input-bordered w-full">
        <br>
        <h1 class="text-3xl font-bold mb-2 mt-3">Candidate group name: </h1>
        <input type="text" name="candidategroup" value="{{.candidategroup}}" class="input input-bordered w-full">
        <button class="btn btn-primary mt-4" type="submit">Save</button>
    </form>
</div>
<template id="position-template">
    <tr>
        <td>
            {{"{{"}}position{{"}}"}}
            <input type="hidden" name="position[]" value="{{"{{"}}position{{"}}"}}">
        </td>
        <td>
            <input type="text" name="requiredgroup[]" class="input input-bordered w-full" placeholder="Required Group (optional)">
        </td>
        <td>
            <button type="button" class="remove-position-button">&times;</button>
        </td>
    </tr>
</template>
<script>
    document.getElementById("add-position-button").addEventListener("click", () => {
        const input = document.getElementById("position-input");
        if (!input.value.trim()) {
            return;
        }

        const template = document.getElementById("position-template").innerHTML;
        const positionHTML = template.replace(/\{\{position\}\}/g, input.value.trim());

        document.getElementById("position-container").insertAdjacentHTML("beforeend", positionHTML);
        input.value = "";
    });

    document.getElementById("position-container").addEventListener("click", (e) => {
        if (e.target.classList.contains("remove-position-button")) {
            e.target.closest("tr").remove();
        }
    });

    document.getElementById("position-input").addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            e.preventDefault();
            document.getElementById("add-position-button").click();
        }
    });
</script>
{{ template "footer.tmpl" }}