{{ template "header.tmpl" }}
<div class="w-full flex justify-center items-center overflow-hidden">
    <img
            src="/pfp?user={{.userId}}"
            alt="{{.name}}"
            class="object-cover absolute z-0 w-full h-[75vh]"
            style="filter: blur(7px);"
    />
    <img
            src="/pfp?user={{.userId}}"
            alt="{{.name}}"
            class="object-cover z-10 h-[75vh] m-auto"
    >
</div>
<div class="md:container md:mx-auto">
    <h1 class="text-5xl font-bold text-center mt-3">{{.name}}</h1>
    <h2 class="text-3xl font-light text-center">{{.hookstatement}}</h2>
    <article class="prose">
        <md-block untrusted>{{.description}}</md-block>
    </article>
    <h3 class="text-2xl font-bold">Tags:</h3>
    {{ range .keywords }}
        <div class="badge badge-primary">{{.}}</div>
    {{ end }}
    <br>
    <h3 class="text-2xl font-bold">Positions:</h3>
    {{ if .published }}
        {{ range .positions }}
            <p>Position: {{ . }}</p>
            <button
                    hx-post="/vote?vote=false&position={{ replace . }}&candidate={{ $.userId }}"
                    hx-swap="outerHTML"
                    hx-target="this"
                    hx-trigger="load"
            >
            </button>
        {{ end }}
    {{ else if .admin}}
        {{ range .positions }}
            <p>{{ . }}</p>
        {{ end }}
        <div class="flex w-full">
            <form method="post" action="/admin/candidates/{{ .name }}/reject" class="flex-1 mr-1">
                <button class="btn btn-error w-full" type="submit">Reject</button>
            </form>
            <form method="post" action="/admin/candidates/{{ .name }}/accept" class="flex-1 ml-1">
                <button class="btn btn-primary w-full" type="submit">Accept</button>
            </form>
        </div>
    {{ else }}
        {{ range .positions }}
            <p>{{ . }}</p>
        {{ end }}
        <div class="flex w-full">
            <a class="btn btn-error flex-1 w-full mr-1" href="/profile">Go Back</a>
            <form method="post" action="/preview" class="flex-1 ml-1">
                <button class="btn btn-primary w-full" type="submit">Submit for Review</button>
            </form>
        </div>
    {{ end }}
</div>
{{ template "footer.tmpl" . }}