{{ template "header.tmpl" }}
<div class="w-full flex justify-center items-center overflow-hidden">
    <img
            src="/pfp?user={{.userId}}"
            alt="{{.name}}"
            class="object-cover absolute z-0 w-full"
            style="height: 75vh; filter: blur(7px);"
    />
    <img
            src="/pfp?user={{.userId}}"
            alt="{{.name}}"
            class="object-cover z-10 h-[75vh]"
            style="margin: auto;"
    >
</div>
<div class="md:container md:mx-auto">
    <h1 class="text-5xl font-bold text-center mt-3">{{.name}}</h1>
    <h2 class="text-3xl font-light text-center">{{.hookstatement}}</h2>
    <article class="prose">
        <md-block untrusted>{{.description}}</md-block>
        <h3>Tags:</h3>
    </article>
    {{ range .keywords }}
        <div class="badge badge-primary">{{.}}</div>
    {{ end }}
    <br>
    {{ range .positions }}
        <p>Position: {{ . }}</p>
        <button
                hx-post="/vote?vote=false&position={{ replace . }}&candidate={{ $.userId }}"
                hx-swap="outerHTML"
                hx-target="this"
                hx-trigger="load"
                >
        </button>
    {{ end }}
</div>
{{ template "footer.tmpl" }}