{{ define "footer.tmpl" }}
    {{ range .flashes }}
        <div class="toast toast-start">
            <div class="alert alert-success">
                <span>{{ . }}</span>
            </div>
        </div>
    {{ end }}
    <footer class="footer bg-base-200 text-base-content p-10 mt-3">
        <aside>
            <img src="/icon.png" width="50" height="50" alt="Logo">
            <p>
                &copy; Copyright Radford College 2024
            </p>
        </aside>
        <nav>
            <h6 class="footer-title">Sitemap</h6>
            <a class="link link-hover" href="/">Candidates</a>
            <a class="link link-hover" href="/faq">FAQ</a>
            <a class="link link-hover" href="/profile">Profile</a>
            <a class="link link-hover" href="/results">Results</a>
        </nav>
    </footer>
    </div>
    </body>
    </html>
{{ end }}