{{ template "header.tmpl" }}
<div class="hero h-[50vh] mb-3">
    <div
            class="hero h-[50vh]"
            style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-lg">
                <h1 class="mb-5 text-7xl font-bold">2025 Election</h1>
                <p class="mb-5 text-2xl">
                    Radford College
                </p>
                <div class="flex join">
                    <form id="searchForm" class="flex items-center justify-center w-full">
                        <label class="input input-bordered flex flex-1 items-center gap-2 join-item">
                            <input type="text" class="grow" placeholder="Search through candidates" id="queryInput"/>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    fill="currentColor"
                                    class="h-4 w-4 opacity-70">
                                <path
                                        fill-rule="evenodd"
                                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                        clip-rule="evenodd"/>
                            </svg>
                        </label>
                        <button class="btn btn-primary join-item" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md:container md:mx-auto">
{{ range .text }}
    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
            <img
                    src="/pfp?user={{.ID}}"
                    alt="{{ .Name }}"/>
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{ .Name }}</h2>
            <p>{{ .HookStatement }}</p>
            <div class="card-actions justify-end">
                <a class="btn btn-primary" href="/{{ .Name }}">Learn More</a>
            </div>
            {{ range .Keywords }}
                <div class="badge badge-primary">{{ . }}</div>
            {{ end }}
        </div>
    </div>
{{ end }}
</div>
<script type="text/javascript">
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const inputValue = document.getElementById('queryInput').value;
        window.location.href = `/?q=${encodeURIComponent(inputValue)}`;
    });
</script>
{{ template "footer.tmpl" . }}