{{ template "header.tmpl" }}
<div class="md:container md:mx-auto">
    <form id="main-form" class="mt-4" action="/profile" method="post" enctype="multipart/form-data">
        <label class="form-control">
            <div class="label">
                <h1 class="text-2xl font-bold mt-4">About Me</h1>
                <p>A short description of yourself and what you stand for</p>
            </div>
            <div class="editorcontainer">
                <div id="editor"></div>
                <textarea id="description" name="description" hidden></textarea>
            </div>
            <div class="label">
                <span class="label-text-alt" id="editorlabel">1500 characters remaining</span>
            </div>
        </label>
        <label class="form-control">
            <div class="label">
                <h1 class="text-2xl font-bold mt-4">Hook Statement</h1>
            </div>
            <input required type="text" placeholder="Hook Statement" class="input input-bordered w-full"
                   name="hookstatement" id="hookstatement" value="{{ .hookstatement }}" maxlength="150">
            <div class="label">
                <span class="label-text-alt" id="hookstatementlabel">150 characters remaining</span>
            </div>
        </label>
        <label class="form-control">
            <h1 class="text-2xl font-bold mt-4">Video (optional)</h1>
            <input
                    type="file"
                    class="file-input file-input-bordered file-input-primary w-full max-w-xs"
                    accept="video/mp4"
                    name="video"
                    id="videoinput"
            />
        </label>
        {{ if not (eq .video "") }}
            <div class="form-control flex flex-row items-center mt-2">
                <input type="checkbox" class="checkbox checkbox-warning" name="deletevideo" id="deletevideo" value="true" />
                <label class="ml-2 cursor-pointer">Delete/Replace Video</label>
            </div>
            <input type="hidden" name="oldvideo" value="{{ .video }}">
            <video controls class="mt-2 max-w-full max-h-[50vh]">
                <source src="/video/{{ .video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {{ end }}

        <h1 class="text-2xl font-bold mt-4">Tags</h1>
        <div id="tag-container" class="flex flex-wrap gap-2">
            {{ range .keywords }}
                <div class="badge badge-primary flex items-center gap-2">
                    <span class="tag-label">{{.}}</span>
                    <input type="hidden" name="tag[]" value="{{.}}">
                    <button type="button" class="remove-tag-button">&times;</button>
                </div>
            {{ end }}
        </div>
        <div class="flex items-center gap-2 mt-2">
            <input
                    type="text"
                    name="tag"
                    id="tag-input"
                    placeholder="Add a tag"
                    class="input input-bordered w-full">
            <button type="button" id="add-tag-button" class="btn btn-primary">Add</button>
        </div>
        <h1 class="text-2xl font-bold mt-4">Positions to run for:</h1>
        {{ range .allpositions }}
            <div class="form-control flex flex-row items-center mt-2">
                <input type="checkbox" name="position[]" class="checkbox checkbox-primary" {{ if contains $.positions . }}checked{{ end }} value="{{ . }}" />
                <label class="ml-2 cursor-pointer">{{ . }}</label>
            </div>
        {{ end }}
        <button type="submit" class="btn btn-success w-full mt-4">Preview Changes</button>
    </form>

    <template id="tag-template">
        <div class="badge badge-primary flex items-center gap-2">
            <span class="tag-label">{{"{{"}}tag{{"}}"}}</span>
            <input type="hidden" name="tag[]" value="{{"{{"}}tag{{"}}"}}">
            <button type="button" class="remove-tag-button">&times;</button>
        </div>
    </template>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
<script type="module">
    const quill = new Quill("#editor", {
        theme: "snow",
        placeholder: "A short description of yourself and what you stand for",
    });

    document.addEventListener('DOMContentLoaded', function() {
        quill.root.innerHTML = "{{ .description }}";
    });

    document.getElementById("add-tag-button").addEventListener("click", () => {
        const input = document.getElementById("tag-input");
        if (!input.value.trim()) {
            return;
        }

        const template = document.getElementById("tag-template").innerHTML;
        const tagHTML = template.replace(/\{\{tag\}\}/g, input.value.trim());

        document.getElementById("tag-container").insertAdjacentHTML("beforeend", tagHTML);
        input.value = "";
    });

    document.getElementById("tag-container").addEventListener("click", (e) => {
        if (e.target.classList.contains("remove-tag-button")) {
            e.target.closest(".badge").remove();
        }
    });
    document.getElementById("tag-input").addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            e.preventDefault();
            document.getElementById("add-tag-button").click();
        }
    });

    document.getElementById("hookstatementlabel").textContent = `${150 - document.getElementById("hookstatement").value.length} characters remaining`;
    document.getElementById("hookstatement").addEventListener("input", (e) => {
        document.getElementById("hookstatementlabel").textContent = `${150 - e.target.value.length} characters remaining`;
    });
    document.getElementById("editorlabel").textContent = `${3000 - quill.getLength()} characters remaining`;
    quill.on('text-change', () => {
        if (quill.getLength() > 3000) {
            quill.deleteText(3000, quill.getLength() - 3000);
        }
        document.getElementById("editorlabel").textContent = `${3000 - quill.getLength()} characters remaining`;
    });
    document.getElementById("videoinput").addEventListener("change", (e) => {
        if (e.target.files.length > 0) {
            document.getElementById("deletevideo").checked = true;
        }
    });
    document.getElementById("main-form").addEventListener("submit", (e) => {
        document.getElementById("description").value = quill.root.innerHTML;
    });
</script>
{{ template "footer.tmpl" }}
