<button
        hx-post="/vote"
        hx-swap="outerHTML"
        hx-target="this"
        hx-include="[name=position], [name=candidate]"
        class="btn btn-success {{ if .voted }}{{ else }}btn-outline{{ end }}">
    {{ if .voted }}Remove Vote{{ else }}Upvote{{ end }}
    <input type="hidden" name="position" value="{{ .position }}">
    <input type="hidden" name="candidate" value="{{ .candidate }}">
</button>

