{{ template "header.tmpl" }}
<div class="md:container mx-auto">
    <h1 class="text-4xl font-bold">Your Votes</h1>
    {{ range .votes }}
        <div class="bg-base-200 rounded-lg mt-2 flex items-center justify-between pr-4">
            <div class="flex items-center">
                <img
                        src="/pfp?user={{ index . 1 }}"
                        alt="{{ index . 0 }}"
                        class="w-16 h-16 rounded-full ml-5 my-5"
                >
                <div class="ml-5 my-5">
                    <h2 class="text-2xl font-bold">{{ index . 0 }}</h2>
                    <p class="text-lg">{{ index . 2 }}</p>
                </div>
            </div>
            <div class="flex items-end">
                <a class="btn btn-secondary" href="/{{ index . 0}}">Go to Profile</a>
            </div>
        </div>
    {{ end }}
</div>
{{ template "footer.tmpl" . }}
